.condition-wrapper {
  padding-top: 100px;
  background: url("../img/bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.condition-wrapper .ant-row:first-child {
  margin-bottom: 20px;
}

.query-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-btn {
  float: right;
}

.detail-echart {
  height: 400px;
  border: 1px solid #ccc;
}

/*detail2样式*/
.detail2 {
  padding-top: 40px;
}

.detail2-echart {
  height: 400px;
  border: 1px solid #ccc;
  overflow: auto;
}

.btn-request {
  float: right;
  margin: 20px 0;
}

.insert-data {
  display: block;
  margin: 8px;
}
