.index {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 5%;
}

.column {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 0 auto 100px;
}

.list {
  padding: 0;
  margin: 0;
  width: 68%;
  height: 100%;
  position: absolute;
  transform: scale(.33);
  text-align: center;
  transition: all .8s;
  background: rgba(32,32,35,.3);
}

/*.column .one {*/
  /*transform: translate(44.7%, 0px) scale(1);*/
/*}*/

/*.column .two {*/
  /*transform: translate(-22.4%, 0.5%) scale(0.33);*/
/*}*/

/*.column .three {*/
  /*transform: translate(-22.4%, 34.5%) scale(0.33);*/
/*}*/

/*.column .four {*/
  /*transform: translate(44.7%, 68%) scale(1,0.33);*/
/*}*/

/*.column .five {*/
  /*transform: translate(-22.4%, 68.5%) scale(0.33);*/
/*}*/

/*.column .six {*/
  /*transform: translate(-22.4%, -33.5%) scale(0.33);*/
/*}*/

.one,
.two,
.three,
.four,
.five,
.six{
  height: 400px;
}

.active {
  transform: translate(44.7%, 0px) scale(1)!important;
}

.main {
  width: 810px;
  height: 400px;
  background: rgba(32,32,35,.3);
  border: 1px solid #ccc;
  z-index: -1;
}
